@use "variables" as *;

.navBar{
    position: sticky;
    top: 40px;
    flex-basis: 30%;
    text-align: center;
    li{
        font-family: $bodyFont;
        font-size: 0.7rem;
        letter-spacing: 0.3px;
        display: inline;
        margin-right: 10px;
    }
}