@use "variables" as *;

.navBar{
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        vertical-align: middle;
    }
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid rgba($color: $primary, $alpha: 0.08);
    background-color: $secondary;
    margin-top: 0;
    flex-basis: 30%;
    text-align: center;
    li{
        font-family: $bodyFont;
        font-size: 0.7rem;
        letter-spacing: 0.3px;
        display: inline;
        margin-right: 10px;
    }
}