@use "variables" as *;

.wrapper{
    min-width: 300px;
    width: 80%;
    margin: 0 auto;
}

button{
    height: 3rem;
    width: 10rem;
    border: none;
    font-family: $headerFont;
    font-weight: bold;
    font-size: 0.7rem;
    letter-spacing: 0.7px;
    line-height: 24px;
    transition: 0.3s;
    cursor: pointer;
    background-color: $secondary;
    &:hover {
        color: $secondary;
        background-color: $quarternary;
        transform: scale(0.95);
    }
    &:focus {
        color: $secondary;
        background-color: $quarternary;
        transform: scale(0.95);
    }
    &.arrowButtons{
        flex-basis: 15%;
        background-color: transparent;
        border: none;
        .arrow {
            margin-top: 120px;
            border: solid black;
            border-width: 0 9px 9px 0;
            display: inline-block;
            padding: 10px;
            &:hover {
                border: solid $primary;
                border-width: 0 3px 3px 0;
            }
            &:focus {
                border: solid $primary;
                border-width: 0 3px 3px 0;
            }
        }
        .right {
          transform: rotate(-45deg);
        }
        .left {
          transform: rotate(135deg);
        }
        
    }
}