@use "variables" as *;

@media screen and (max-width:800px) {
    /* style changes when the screen gets smaller */
    .companyQualities{
        background-image: none;
        height: 125vh;
        .wrapper{
            display: flex;
            padding:none;
            margin: 0;
            flex-wrap: wrap;
            .textContainer{
                flex-basis: 70%;
                margin-right: 0;
            }
        }
    }
    .team{
        li{
            flex-basis: 100%;
        }
        li:first-child{
            padding-top: 3rem;
            padding-bottom: 3rem;
            padding-left: 4rem;
            padding-right: 4rem;
            flex-basis:100%;
          }
    }


    .creativeAgency{
        h3{
            line-height: 4rem;
            margin-bottom: 5rem;
        }
    }

    .relatedPosts{
        .sectionGallery{
            li:first-child, li:last-child{
                visibility: collapse;
            }
        }
    }

    .contactUsTitle{
        position: absolute;
        top: 5%;
        left: 10%;
    }
}

@media screen and (max-width:480px) {
        /* And even smaller */
    }