html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.85rem;
  color: #333333;
  font-weight: bold;
  letter-spacing: 0.9px;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  color: #333333;
  line-height: 1.2rem;
  letter-spacing: 1.8px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  color: #333333;
  opacity: 75%;
  line-height: 1.2rem;
  letter-spacing: 0.3px;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  max-width: 1260px;
  width: 80%;
  margin: 0 auto;
}

header {
  background-image: url("../assets/home-1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin-bottom: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.navBar {
  margin-top: 40px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: center;
}
.navBar li {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  display: inline;
  margin-right: 10px;
}

section {
  padding: 0; /*Removes padding between sections, alternatively can set padding to 0*/
}

.branding {
  background-color: #C3DAB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.branding .brandingImageContainer {
  height: 50vh;
  position: relative;
  top: 0;
  left: 0;
}
.branding .brandingImageContainer .deskPhoto {
  position: absolute;
  top: 40%;
  left: 30%;
}
.branding .brandingImageContainer .circleText {
  position: absolute;
  top: 20%;
  left: 20%;
}
.branding .brandingTextContainer {
  width: 40%;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0 80px 0;
}
.branding .brandingTextContainer .textContainer {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.imageNavigation {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}
.imageNavigation .navigationContent {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
.imageNavigation .imageNavigationPhoto {
  border-radius: 50%;
}
.imageNavigation .arrowButtons {
  -ms-flex-preferred-size: 15%;
      flex-basis: 15%;
  background-color: transparent;
  border: none;
}
.imageNavigation .arrowButtons .arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.imageNavigation .arrowButtons .right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.imageNavigation .arrowButtons .left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.companyQualities {
  background-image: url("../assets/home-4.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.companyQualities .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  margin-right: 0;
  padding-top: 8.75rem;
  padding-left: 10rem;
}
.companyQualities .wrapper .iconContainer {
  margin-right: 2rem;
  margin-top: 1rem;
}
.companyQualities .wrapper .iconContainer li {
  margin-top: 5rem;
}
.companyQualities .wrapper .iconContainer .fa-solid {
  font-size: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.95rem;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  border: solid black 1px;
}
.companyQualities .wrapper .textContainer {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin-right: 6rem;
}
.companyQualities .wrapper .textContainer li {
  margin-top: 4.5rem;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.team .meetOurTeam {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
  margin: 40px;
}
.team ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team li {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}
.team li:first-child {
  background-color: #F6F6F6;
  text-align: left;
  padding-top: 6rem;
  padding-left: 4rem;
  padding-right: 4rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.team li:last-child {
  padding-top: 6.5rem;
}
.team img {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}

footer {
  background-color: #333333;
}